.footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}
.footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:768px) and (max-width:1199px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }

    @media screen and (min-width:1200px) {
        flex-direction: row;
        align-items: baseline;
    }
}
.contact-data {
    text-align: center;
    margin-bottom: 60px;
}
.footer__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-style: normal;
}
.footer__socials {
    text-align: center;

    @media screen and (min-width:1200px) {
        margin-left: 70px;
    }
}
.footer__networks {
    display: flex;
}
.networks-icon-footer {
    fill: var(--invert-text-color);
}

.networks-item:not(:last-child) {
    margin-right: 10px;
}
.logo.footer__logo {
margin-right: 0;
}
.footer__address {
margin-bottom: 8px;
color: var(--invert-text-color);

@media screen and (min-width:1200px) {
    margin-bottom: 9px;
}
}
.footer__email, .footer__tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer__email {
  display: block;
  margin-bottom: 9px;
}
.footer__join {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--invert-text-color);
}
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (max-width:767px) {
  .footer__modal {
    margin-top: 60px;
  }
}
.footer__modal {
  display: flex;
  flex-direction: column;
  text-align: center;

@media screen and (min-width:1200px) {
    margin-left: 93px;
}
}
.footer__modal label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--invert-text-color);
}

.footer__input {
display: block;
  height: 50px;
  min-width: 358px;
  padding: 15px 16px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms var(--time-function);

  &:hover,
  &:focus-within {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  @media screen and (max-width:1199px) {
    margin-bottom: 20px; 
  }
    @media screen and (min-width:1200px) {
    display: flex;
    margin-right: 12px;
}
}
.footer-button {
  height: 50px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--invert-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.send {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-text-send {
  margin-right: 10px;
  color: var(--invert-text-color);
}
.icon-send {
  display: block;
  fill: var(--invert-text-color);
}
@media screen and (min-width:1200px) {
  .submit-email {
    display: flex;
  }
  .footer-link {
    display: flex;
    width: 44px;
    height: 44px;
  }
  .footer__details {
    align-items: flex-start;
  }
  .contact-data, .footer__join {
    text-align: start;
  }
  .footer__modal label {
    text-align: start;
  }
}