.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
.footer__block {
  display: flex;
  align-items: baseline;
}
.logo.footer__logo {
  margin-right: 0;
}

.footer__details {
  margin-top: 20px;
  font-style: normal;
}

.footer__address {
  margin-bottom: 9px;
  color: var(--invert-text-color);
}

.footer__email, .footer__tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer__email {
  display: block;
  margin-bottom: 9px;
}

.footer__socials {
  margin-left: 70px;
}

.footer__networks {
  display: flex;
}

.join {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--invert-text-color);
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
}

.networks-icon-footer {
  fill: var(--invert-text-color);
}
.networks-item:not(:last-child) {
  margin-right: 10px;
}
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.submit-email {
  display: flex;
}

.footer-modal {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer-modal label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--invert-text-color);
}

.footer-input {
  height: 50px;
  min-width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms var(--time-function);

  &:hover,
  &:focus-within {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.footer-button {
  height: 50px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--invert-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.send {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-text-send {
  margin-right: 10px;
  color: var(--invert-text-color);
}

.icon-send {
  display: block;
  fill: var(--invert-text-color);
}