.hero {
    min-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
    background-size: cover;
    text-align: center;

    @media screen and (min-width:1200px) {
        height: 600px;
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero__header {
    margin-bottom: 30px;
    color: var(--invert-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}