.navigation {
  display: flex;
  align-items: center;
}
.navigation__titles {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.navigation__item {
  display: block;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation__link {
  display: inline-block;
  position: relative;
  padding: 32px 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link.current {
  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
