.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width:1200px) {
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:479px) {
    .clients {
        justify-content: center;
    }
    .clients__item:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media screen and (min-width:480px) {
    .clients {
        margin-top: -30px;
        margin-left: -30px;
    }
    .clients__item {
        margin-top: 30px;
        margin-left: 30px;
    }
}
@media screen and (min-width:480px) {
    .clients__item {
        width: calc((100% - 60px) / 2);
    }
}
@media screen and (min-width:768px) {
    .clients__item {
        width: calc((100% - 90px) / 3);
    }
}
@media screen and (min-width:1200px) {
    .clients {
        flex-wrap: nowrap;
    }
    .clients__item {
        width: calc((100% - 150px) / 6);
    }
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--icon-basic-color);
    border-radius: 4px;
    transition: border 250ms var(--time-function);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }

    @media screen and (min-width:1200px) {
        width: 170px;
        }
}
.clients__icon {
    fill: var(--icon-basic-color);
    transition: fill 250ms var(--time-function);

    .clients__link:hover & {
        fill: var(--accent-color);
    }

    .clients__link:focus & {
        fill: var(--accent-color);
    }
}
