.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter > li:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  padding: 6px 22px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  background-color: var(--button-background);
  border-radius: 4px;
  border: transparent;

  transform: color 250ms var(--time-function), background-color 250ms var(--time-function),
    box-shadow 250ms var(--time-function);

    &:focus,
    &:hover {
      color: var(--invert-text-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.filter > .portfolio-button:not(last-child) {
  margin-right: 8px;
}
