.contacts-header {
    display: none;
}
@media screen and (min-width:768px) {
    .contacts-header {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 1.17;
        font-weight: 500;
    }
}
@media screen and (min-width:1200px) {
.contacts-header {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;

  & .contacts+.contacts {
    margin-left: 50px;
  }
}
.contacts {
  display: flex;
  align-items: center;

  & .link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    color: var(--main-text-color);
    font-weight: 500;

    transition: color 250ms var(--time-function);
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}

.icon-header {
  margin-right: 10px;
  fill: var(--main-text-color);

  .contacts .link:hover & {
    fill: var(--accent-color);
  }
}  
}
@media screen and (min-width:768px) and (max-width:1199px) {
    .contacts.email {
        margin-bottom: 10px;
    }
}

