.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--invert-text-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms var(--time-function,) visibility 250ms var(--time-function);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
.mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;

    &:hover .mobile-menu__close-icon, &:focus .mobile-menu__close-icon {
        fill: var(--accent-color);
    }
}
.mobile-menu__pages {
    margin-left: 40px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}
.mobile-menu__item {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
    &:first-child {
        margin-top: 48px;
    }
}
.mobile-menu__link:hover, .mobile-menu__link:focus, .mobile-menu__link:active {
color: var(--accent-color);
}
.mobile-menu__contacts {
    margin-left: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.mobile-menu__contact-tel {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 40px;
}
.mobile-menu__contact-email {
    font-size: 24px;
    line-height: 28px;
}
.mobile-menu__tel {
    color: var(--accent-color);
}
.mobile-menu__email {
color: var(--main-text-color);
}
.mobile-menu__links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}
.mobile-menu__socials {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}
.mobile-link {
    color: var(--accent-color);
}