.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-item {
    width: 100%;
    height: 100%;

    cursor: pointer;

    &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.project-name {
  margin-bottom: 4px;
  color: var(--header-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.project-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.overlay-block {
  position: relative;
  overflow: hidden;
}
.portfolio-pannel {
  position: absolute;
  justify-content: center;
  padding: 63px 24px;
  width: 100%;
  height: 294px;
  left: 0;
  bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  opacity: 0;
  color: var(--invert-text-color);
  cursor: pointer;

  transform: translateY(100%);
  transition: transform 250ms var(--time-function);

  .projects-item:hover & {
    opacity: 0.9;
    transform: translateY(0);
  }
}
@media screen and (min-width:768px) and (max-width:1199px) {
    .projects {
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
    }
    .projects-item {
        width: 354px;
    }
    .project-name {
        white-space: nowrap;
    }
}
@media screen and (max-width:767px) {
      .projects-item:not(:last-child) {
        margin-bottom: 30px;
      }
}
@media screen and (min-width:768px) {
  .projects {
    justify-content: flex-start;
    margin-top: -30px;
    margin-left: -30px;
  }
  .projects-item {
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width:1200px) {
.projects-item {
  width: 370px;
} 
}