:root {
  --main-text-color: #757575;
  --header-text-color: #212121;
  --logo-black-text-color: #000000;
  --accent-color: #2196f3;
  --invert-text-color: #ffffff;
  --background-color: #2f303a;
  --button-background: #f5f4fa;
  --icon-basic-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}